allow hal_sensors_default self:socket read;
allow hal_sensors_default hal_sensors_default:socket { write };
allow hal_sensors_default hal_sensors_default:socket { read };
