allow mediacodec init:binder { call };
allow mediacodec sysfs:file { read };
allow mediacodec sysfs:file { open };
allow mediacodec sysfs:file { getattr };
