allow surfaceflinger device:chr_file ioctl;
allow surfaceflinger device:chr_file { ioctl };
allow surfaceflinger device:chr_file { read write };
allow surfaceflinger device:chr_file { open };
